/* ===== Colors and Transitions ===== */
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #222E3A;
  --primary-color: #E8465D;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #EEEDF5;

  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}



.TextPrincipal{
  color: var(--primary-color);
  padding: 3px;
  font-size: 24px;
  margin-left: 8px;
  align-items: center;
  font-weight: bold;
}
.ButtonIcon{
  background-color: #FFFFFF !important;
  border: none;
  color: #222E3A !important;
  text-decoration: none !important;
}
.textoPrinc{
  color: var(--primary-color);
  font-size: 16px;
}
.IconDetalhes{
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none !important;
  color: var(--sidebar-color);
  justify-items: center;

}
.textoResunt{
  color: var(--sidebar-color);
  font-size: 16px;
}
.TextCard{
  color: var(--primary-color);
  font-size: 23px;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-weight: bold;
}
.CardTextPrincipal{
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  background-color: #FFFFFF !important;
}

.CardPrincipal{
  background-color: #FFFFFF;
}
.CardInput{
  background-color: #FFFFFF;
  border: 1px solid var(--sidebar-color);
  color: var(--sidebar-color);
}
.CardInput:hover{
  background-color: #FFFFFF;
  border: 1px solid var(--sidebar-color);
  color: var(--sidebar-color);
}
.CardInput2{
  background-color: #FFFFFF;
  border: 1px solid var(--sidebar-color);
  color: var(--sidebar-color);
}
/* Estilo geral */

.busca-contratos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.busca-item {
  flex: 1 1 25%;
}

.busca-botoes {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .busca-item {
    flex: 1 1 100%;
  }
}
/* Tabela para telas maiores */
/* table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  text-align: left;
} */

/* table th {
  background-color: #f4f4f4;
} */
/* WidgetsBrand.css */
/* Estilos para a classe personalizada */



/* Adaptação para telas menores */
@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  table thead {
    display: none;
  }

  table tbody, table tr, table td {
    display: block;
    width: 100%;
  }

  table td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: bold;

  }
  table td, table th {
    position: relative; /* Necessário para que os pseudo-elementos se posicionem corretamente */
    color: inherit; /* Herda a cor do elemento pai, que é o padrão que você deseja */
  }
  table th::before {
    content: attr(data-label1);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: bold;



  }
}
