/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
}

/* ===== Colors and Transitions ===== */
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #222E3A;
  --primary-color: #E8465D;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #EEEDF5;

  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

/* .HeaderTitulo{
  background-color: var(--body-color);
  border: 1px solid var(--primary-color);
  padding: 5px;
  margin: 8px;
  margin-top: 10px;
  
} */
.CardTextPrincipal{
  margin-top: 25px;
  margin-bottom: 8px;
  background-color: #FFFFFF;
}

.CardPrincipal{
  background-color: #FFFFFF;
}
.CardInput{
  background-color: #FFFFFF;
  border: 1px solid var(--sidebar-color);
  color: var(--sidebar-color);
}
.CardInput:hover{
  background-color: #FFFFFF;
  border: 1px solid var(--sidebar-color);
  color: var(--sidebar-color);
}
.CardInput2{
  background-color: #FFFFFF;
  border: 1px solid var(--sidebar-color);
  color: var(--sidebar-color);
}

.CardInput3{
  background-color: #FFFFFF;
  color: var(--sidebar-color);
}
.CardInput2::-webkit-calendar-picker-indicator {
  filter: invert(18%) sepia(26%) saturate(605%) hue-rotate(162deg) brightness(95%) contrast(91%);
  cursor: pointer;
}

.TextPrincipal{
  color: var(--primary-color);
  padding: 3px;
  font-size: 24px;
  margin-left: 8px;
  align-items: center;
  font-weight: bold;
}

.text{
  color: var(--sidebar-color);
  font-size: 16px;
  font-weight: bold;
}

.p{
  color: red;
  font-size: 17px;
  font-weight: bold;
}