/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
}

.LogoVox {
  display: flex; /* Cria um contêiner flexível */
  align-items: center; /* Alinha logo e texto verticalmente no centro */
  margin-left: 10px; /* Ajusta o espaço à esquerda do logo */
}

.logo-title {
  margin-top: 8px;
  margin-left: 8px; /* Adiciona espaço entre o logo e o título */
  font-size: 20px; /* Ajusta o tamanho da fonte, se necessário */
  color: #fff; /* Altera a cor do texto, ajuste conforme necessário */
  display: flex; /* Usar flexbox para alinhar o texto se necessário */
  align-items: center; /* Centraliza verticalmente o texto se houver mais de uma linha */
}

.username-display {
  font-size: 16px;
  color: var(--text-color); /* Ajuste a cor conforme o design */
  margin-top: 5px;
}

.username-display-mobile {
  padding: 10px;
  color: #fff; /* Cor do texto */
  text-align: center;
}


/* ===== Colors and Transitions ===== */
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #222E3A;
  --primary-color: #E8465D;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #EEEDF5;

  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.sidebar.close .text {
  opacity: 0;
}

/* ===== Sidebar Header ===== */
.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

.sidebar header .image img {
  width: 50px;
  border-radius: 40px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

/* ===== Body Styles ===== */
body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar Styles ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  /* text-align: center; */
}

.sidebar.close {
  width: 100px;
}

/* ===== Sidebar Items ===== */ 
/* .sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: -30px;
} */

.textMenu{
  /* border: 1px solid black; */
  margin-top: 18px;
  margin-left: -35px;
  list-style: none;
  padding: 3px;
  text-decoration: none !important; 
}

.textMenu .text{
  /* border: 1px solid red; */
  display: flex !important;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  color: var(--text-color);
  transition: var(--tran-03);
  text-decoration: none !important;
}

.buttonMenu:hover, .o:hover, .f:hover{
  border-radius: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
  border: 1px solid var(--primary-color) !important;
  /* transition: var(--tran-05);  */
}
.t{
  border: 1px solid palevioletred;
  margin-top: 15px;
  margin-left: -35px;
  list-style: none;
  padding: 3px;
  /* text-align:right; */
  text-decoration: none !important; 
}

.iconMenuSair{
  display: flex !important;
  font-size: 25px !important;
  color: #ffff !important;
  transition: var(--tran-03) !important;
  min-width: 50px !important;
  text-decoration: none;
  margin-left: -8px;
}

.iconMenu {
  display: flex !important;
  font-size: 25px !important;
  color: #ffff !important;
  transition: var(--tran-03) !important;
  min-width: 50px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  text-decoration: none;
  margin: -4px;
  padding: 5px;
  /* height: 100% !important; */
}
.i{

  font-size: 25px !important;
  color: var(--text-color) !important;
  transition: var(--tran-03) !important;
  min-width: 50px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  text-decoration: none;
  margin: -4px;
  padding: 5px;
}
.h{
  /* border: 1px solid red; */
  display: flex;
  text-decoration: none !important;
  width: 100%;
  padding: 3px;
}
.o{
  /* border: 1px solid red; */
  color: var(--text-color) !important;
  width: 100%;
  padding: 4px;
  list-style: none;
  text-align:left ;
}











/* ===== Menu Section ===== */
/* .sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
} */

/* .menu-bar::-webkit-scrollbar {
  display: none;
} */

/* .sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
} */

/* .sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
} */

/* .sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
} */

/* .sidebar li a:hover {
  background-color: var(--primary-color);
} */

/* .navMenu {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
} */

/* .sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--text-color);
} */

/* ===== Mode Switch (Dark/Light) ===== */
/* .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.mode .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
} */

/* ===== Home Content ===== */
/* .home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
} */

/* ===== Mobile Sidebar ===== */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Começa fora da tela */
  width: 250px;
  height: 100%;
  background-color: var(--sidebar-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease; 
  z-index: 1000;
}

.mobile-sidebar.open {
  left: 0; 
}

.sidebar-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
}

/* .sidebar-header h2 {
  margin: 0;
}

.mobile-sidebar .close {
  cursor: pointer;
  font-size: 24px; 
} */

/* ===== Media Queries ===== */
/* @media (max-width: 768px) {
  .home {
    left: 0;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .mobile-sidebar {
    display: block;
  }
} */
