.CardInput2{
  background-color: #FFFFFF;
  border: 1px solid var(--sidebar-color);
  color: var(--sidebar-color);
}

.text{
  color: var(--sidebar-color);
  font-size: 16px;
  font-weight: bold;
}
.CardTextPrincipal{
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  background-color: #FFFFFF !important;
}
.TextPrincipal{
  color: var(--primary-color);
  padding: 3px;
  font-size: 24px;
  margin-left: 8px;
  align-items: center;
  font-weight: bold;
}